

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* chrome dev tools "tablet" and larger: */
@media screen and (min-width: 768px) {
  .displayContainer > p {
    font-size: 2rem;
  }
}

