:root {
  /*Colors*/
  --Dark-blue: #2b2d42;
  --Medium-blue: #8d99ae;
  --Light-blue: #edf2f4;

  --Light-red: #ef233c;
  --Dark-red: #d90429;

  /*Fonts*/

  --Default-font: 'Fira mono', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--Default-font);
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--Dark-blue);
}
