:root{
    /*Colors*/
    --Dark-blue: #2B2D42;
    --Medium-blue: #8D99AE;
    --Light-blue: #EDF2F4;

    --Light-red: #EF233C;
    --Dark-red: #D90429;

    /*Fonts*/

    --Default-font: 'Fira mono', sans-serif;    
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--Default-font);
  
  min-height: -webkit-fill-available;
}
  
  body {
    background: linear-gradient(180deg, var(--Dark-blue) 34%, var(--Light-red) 167.24%) no-repeat;
  }



